*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 90%;
    margin: auto;
}
header{
    height: 60px;
    background: black;
    width: 100%;
    z-index: 12;
    position: fixed;
}
    .logo{
        width: 60px;
        height: 60px;
        float: left;
    

    }

        
    nav{
        float: right;
        line-height: 60px;
    }
        nav a{
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            margin: 0 10px;

        }
        nav a:hover:not(.contact_button){
            color: #0be6fd;
            transition: 2s;
        }
        .active{
            color: #0be6fd;
        }
        .contact_button{
            position: relative;
            display: inline-block;
            padding-left: 20px;
            padding-right: 20px;
            border: 2px solid #0be6fd;
            text-decoration: none;
            -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
            transition: 0s;
        }
            .contact_button:hover{
                transition-delay: 1.5s;
                color: #000;
                box-shadow: 0 0 10px #0be6fd,
                            0 0 20px #0be6fd,
                            0 0 40px #0be6fd,
                            0 0 60px #0be6fd,
                            0 0 60px #0be6fd;
            }
            .contact_button span{
                position: relative;
                z-index: 100;
            }
            .contact_button::before{
                content: '';
                position: absolute;
                left: -20px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 2px;
                background: #0be6fd;
                box-shadow: 5px -8px 0 #0be6fd,
                            5px 8px 0 #0be6fd;
                transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s ;
                
            }
            .contact_button:hover:before{
                width: 60%;
                height: 100%;
                left: -2px;
                box-shadow: 5px 0px 0 #0be6fd,
                            5px 0px 0 #0be6fd;
                transition-delay: 0s,0.5s,1s,1s;
            }

            .contact_button::after{
                content: '';
                position: absolute;
                right: -20px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 2px;
                background: #0be6fd;
                box-shadow: -5px -8px 0 #0be6fd,
                            -5px 8px 0 #0be6fd;
                transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s ;
                
            }
            .contact_button:hover::after{
                width: 60%;
                height: 100%;
                right: -2px;
                box-shadow: -5px 0px 0 #0be6fd,
                            -5px 0px 0 #0be6fd;
                transition-delay: 0s,0.5s,1s,1s;
            }
.banner-area{
    
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 60px;
    background-color: black;
    /*background-image: url(../image/cover-page.png);*/
    -webkit-backdrop-size: cover ;
    background-size: cover;
    background-position: center center ;
}
    .banner-area .text-box{
        
    color: #fff;
    position: absolute;
    bottom: 18%;
    margin: 90px;
    }
        .text-box p{
            font-size: 50px;
            font-weight: 600;
        }
        .text-box h1{
            font-size: 190px;
            line-height: 160px;
            margin: -10px;
            color: transparent;
            -webkit-text-stroke: 1px #0be6fd;
            background: url(../image/back2.png);
            -webkit-background-clip: text;
            background-position: 0 0;
            animation: back 20s linear infinite;
        }
        @keyframes back{
            100%{
                background-position: 2000px 0;
            }
        }
        .welcome-message{
            margin-left: 1300px;
            position: absolute;
            font-size: 100px;
            -webkit-text-stroke: 1px rgb(25, 25, 25);
            color: transparent;
            background-image: linear-gradient(rgb(25, 25, 25),rgb(25, 25, 25) );
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            background-position: -410px,0;
            animation: backcolor 7s linear infinite alternate;
        }
        @keyframes backcolor{
            100%{
                background-position: 0,0;
            }
        }
        


.content-area{
    width: 100%;
    position: relative;
    top: 950px;
    background: #fff;
    height: 100vh;
    scroll-snap-type: x mandatory;
    overflow-y:hidden ;
    overflow-x:scroll ;
    display: flex;
}
    .content-area section{
        flex: none;
        display: flex;
        /*justify-content: center;
        align-items: center;*/  
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        
        
        
    }
        section:nth-of-type(1){
            background-color: rgb(28,28,28);
        }
            .intro-text{
                width: 1000px;
                height: max-content;
                float: left;
                margin-left: 100px;
                margin-top: 100px;
                font-size: 40px;
                font-weight: 600;
            }
                .intro-text .fill{
                    color: #fff;
                }
                .intro-text .empty{
                    -webkit-text-stroke: 1px #0be6fd;
                }
                .intro-text .empty:hover{
                    color: #fff;
                    font-size: 150%;
                    transition: 1s;
                }
            .home-photo{
                height: 50%;
                width:auto ;
                margin: 220px;

            }
        section:nth-of-type(2){
            display: flex; 
            justify-content: center;
            align-items: center; 
            background-color: #000000;
            
        }
            section .container_2{
               
                position: absolute;
               
                display: flex;
            }
                section .container_2 .circle{
                    position: relative;
                    width: 150px;
                    height: 150px;
                    margin: 0 20.5px;
                }
                    section .container_2 .circle span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transform: rotate(calc(18deg *var(--i)));
                        
                    }
                        section .container_2 .circle span::before{
                            content: '';
                            position: absolute;
                            right: 0;
                            top: calc(50%-20.5px);
                            width: 15px;
                            height: 15px;
                            background: #FCA311;
                            border-radius: 50%;
                            box-shadow: 0 0 10px #FCA311,
                            0 0 20px #FCA311,
                            0 0 30px #FCA311,
                            0 0 40px #FCA311,
                            0 0 60px #FCA311,
                            0 0 80px #FCA311,
                            0 0 100px #FCA311;
                            transform: scale(0.1);
                            animation: animate 4.5s linear infinite;
                            animation-delay: calc(0.1s*var(--i));
                        }
                        @keyframes animate{
                            0%{
                                transform: scale(1) ;
                            }
                            50%,100%{
                                transform: scale(0.1);
                            }
                        }
                        section .container_2 .circle:nth-child(2){
                            transform: rotate(-180deg);
                        }
                        section .container_2 .circle:nth-child(2) span::before{
                            animation-delay: calc(-0.1s*var(--i));
                        }
            section .text_2 .text_201{
               position: absolute;
               top: 30%;
               left: 110%;
               width: auto;
                color: rgb(34, 34, 34);
                font-size: 100px;
                font-weight: 600;
                letter-spacing: 2px;
            }
                section .text_2 .text_201:hover{
                    transition-delay: .5s;
                    animation: animatetext_201 5s linear infinite;
                }
                @keyframes animatetext_201{
                    0%,10%{
                        text-shadow: 0 0 10px #FCA311;
                    }
                    10%,20%{
                        text-shadow: 0 0 20px #FCA311;
                    }
                    20%,40%{
                        text-shadow: 0 0 40px #FCA311;
                    }
                    40%,60%{
                        text-shadow: 0 0 60px #FCA311;
                    }
                    60%,100%{
                        text-shadow: 0 0 100px #FCA311;
                        text-shadow: 0 0 0px #FCA311;
                    }
                }
            section .text_2 .text_202{
                position: absolute;
                top: 30%;
                left: 170%;
                width: auto;
                 color: rgb(34, 34, 34);
                 font-size: 100px;
                 text-align: center;
                 font-weight: 600;
                 letter-spacing: 2px;
            }
                section .text_2 .text_202:hover{
                    transition-delay: .5s;
                    animation: animatetext_202 5s linear infinite;
                }
                @keyframes animatetext_202{
                    0%,10%{
                        text-shadow: 0 0 10px #FCA311;
                    }
                    10%,20%{
                        text-shadow: 0 0 20px #FCA311;
                    }
                    20%,40%{
                        text-shadow: 0 0 40px #FCA311;
                    }
                    40%,60%{
                        text-shadow: 0 0 60px #FCA311;
                    }
                    60%,100%{
                        text-shadow: 0 0 100px #FCA311;
                        text-shadow: 0 0 0px #FCA311;
                    }
                }
                
                        
        section:nth-of-type(3){
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100wh;
            background-color: rgb(0, 0, 0);
        }
            section .banner_3{
                position: relative;
                width: 600px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .banner_3 a{
                    color: #fff;
                    text-align: center;
                    font-size: 60px;
                    font-weight: 600;
                    letter-spacing: 0.1em;
                    text-shadow:    0 0 10px #00bcff,
                                    0 0 20px #00bcff,
                                    0 0 40px #00bcff,
                                    0 0 80px #00bcff,
                                    0 0 120px #00bcff;
                                    
                }
                    .banner_3 a:link {
                        text-decoration: none;
                    }
                    .banner_3 a:hover {
                        text-decoration: underline;
                    }
                .light_bar{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 300px;
                    border-radius: 10px;
                    background: #fff;
                    z-index: 2;
                    box-shadow:    0 0 10px #00bcff,
                                    0 0 20px #00bcff,
                                    0 0 40px #00bcff,
                                    0 0 80px #00bcff,
                                    0 0 120px #00bcff;
                    animation: animationlightbar 5s linear infinite ;
                    
                }
                @keyframes animationlightbar {
                    0%,5%{
                        transform: scaleY(0) translateX(0);
                    }
                    10%{
                        transform: scaleY(1) translateX(0);
                    }
                    90%{
                        transform: scaleY(1) translateX(calc(600px - 10px));
                    }
                    95%,100%{
                        transform: scaleY(0) translateX(calc(600px - 10px));
                    }          
                }
                .toplayer{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgb(0, 0, 0);
                    animation: animtoplayer 10s linear infinite;
                }
                @keyframes animtoplayer{
                    0%,2.5%{
                        transform: translateX(0);
                    }
                    5%{
                        transform: translateX(0);
                    }
                    45%{
                        transform: translateX(100%);
                    }
                    47.5%,50%{
                        transform: translateX(100%);
                    }   
                    50.001%,52.5%{
                        transform: translateX(-100%);
                    }
                    55%{
                        transform: translateX(-100%);
                    }
                    95%{
                        transform: translateX(0%);
                    }
                    97.5%,100%{
                        transform: translateX(0%);
                    }   
                    
                }


